<div class="tile">
    <div class="tile-body">
        <div>
            <img class="tile-img"  [src]="space.links.mission_patch">
        </div>
        <div class="tile-title">
            <label class="tile-label label-color">{{space.mission_name}} #</label>
            <label class="tile-label label-color">{{space.flight_number}}</label>
        </div>
        <div class="bottom-margin">
            <label class="tile-label">Mission Ids</label>
        </div>
        <div class="bottom-margin">
            <label class="tile-label">Launch Year:</label><label class="tile-value">{{space.launch_year}}</label>
        </div>
        <div class="bottom-margin">
            <label class="tile-label">Successful Launch:</label><label class="tile-value">{{space.launch_success}}</label>
        </div>
        <div class="bottom-margin">
            <label class="tile-label">Successful Landing:</label><label class="tile-value">{{space.launch_landing}}</label>
        </div>
    </div>
</div>