.tile{
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;;
    border-radius: .15rem;
    background-color: #fff;
    background-clip:border-box;
    border:1px solid rgba(0,0,0,.125);  
    padding: 8px;  
    width: 14rem;
    margin: .75rem;
}

.tile-body{
    flex: 1 1 auto;
    min-width: 1px;
}

.tile-title{
    margin-bottom: .75rem;
}

.tile-img{
    background-color: #f2f2f2;
}

.bottom-margin{
    margin-bottom: .5rem;
}

img{
    width: 210px;
    height: 200px;
    margin: .25rem;
}

.tile-label{
    font-weight: bold;
}

.label-color{
    color:#444B8F;
    font-weight: 800;
}

.tile-value{
    color: #6c6faf;
    padding-left: .25rem;
}

ul{
    list-style-type: none;
    margin-top: .5rem;
    margin-bottom: .5rem;
}