<div class="tile">
    <div class="tile-body">
        <div>
            <img class="tile-img" [src]="space.links.mission_patch_small">
        </div>
        <div class="tile-title">
            <label class="">{{space.mission_name}}</label>#
            <label class="">{{space.flight_number}}</label>
        </div>
        <div class="bottom-margin">
            <label>Mission Ids</label>
        </div>
        <div class="bottom-margin">
            <label>Launch Year:</label>{{space.launch_year}}
        </div>
        <div class="bottom-margin">
            <label>Successful Launch:</label>{{space.launch_success}}
        </div>
        <div class="bottom-margin">
            <label>Successful Landing:</label>{{space.launch_landing}}
        </div>
    </div>
</div>