<div>
  <div class="row">
    <div class="col-6">Spacex launch projects</div>
    <div class="col-6"> toggle</div>
  </div>
  <div class="row">
    <div class="col-2">
      <div class="row bg-white">
        <div class="col-12 ">Launch Year <label class="pr-1 pl-2" (click)="filter()">Apply</label> <label>clear</label></div>
        <ng-container *ngFor="let year of yearArrayList">
          <div (click)="onYearClick(year)" [ngClass]="selectedyear===year.value?'green':'light-green'" class="col-4 label-btn">
            <label>{{year.value}}</label>
          </div>
        </ng-container>
      </div>
      <div class="row bg-white">
        <div class="col-8 filter-label">Successful Launch</div>
        <ng-container *ngFor="let item of booleanArrayList">
          <div (click)="filterSelection(item,'launch')" [ngClass]="isLaunch===item?'green':'light-green'" class="col-4 label-btn">
            <label>{{item}}</label>
          </div>
        </ng-container>
      </div>
      <div class="row bg-white m-bottom-5">
        <label class="col-8 filter-label">Successful Landing</label>
        <ng-container *ngFor="let item of booleanArrayList">
          <div (click)="filterSelection(item,'land')" [ngClass]="isLanded===item?'green':'light-green'" class="col-4 label-btn">
            <label>{{item}}</label>
          </div>
        </ng-container>
      </div>
    </div>
    <div class="col-10">
      <div class="row">
        <div *ngFor="let item of projectList" class="col-3">
          <app-tile [space]="item"></app-tile>
        </div>
      </div>
    </div>
  </div>
</div>