<div>
  <div class="row">
    <div class="col-6">
      <h1 class="heading-margin">
        Spacex Launch Programms
      </h1>
    </div>
   </div>
  <div class="row">
    <div class="col-2" style="margin-top:.75rem">
      <div class="row bg-white">
        <h3 class="heading-margin ml-1">Filter</h3>
        <div class="col-12 filter-label">Launch Year<hr/></div>
        <ng-container *ngFor="let year of yearArrayList">
          <div (click)="onYearClick(year)" [ngClass]="selectedyear===year.value?'green':'light-green'" class="m-1 w-25 label-btn">
            <label>{{year.value}}</label>
          </div>
        </ng-container>
      </div>
      <div class="row bg-white">
        <div class="col-12 filter-label">Successful Launch<hr/></div>
        <ng-container *ngFor="let item of booleanArrayList">
          <div (click)="filterSelection(item,'launch')" [ngClass]="isLaunch===item?'green':'light-green'" class="w-25 m-1 label-btn">
            <label>{{item}}</label>
          </div>
        </ng-container>
      </div>
      <div class="row bg-white m-bottom-5">
        <label class="col-12 filter-label">Successful Landing<hr/></label>
        <ng-container *ngFor="let item of booleanArrayList">
          <div (click)="filterSelection(item,'land')" [ngClass]="isLanded===item?'green':'light-green'" class=" w-25 m-1 label-btn">
            <label>{{item}}</label>
          </div>
        </ng-container>
      </div>
    </div>
    <div class="col-10">
      <div class="row">
        <div *ngFor="let item of projectList" class="col-3">
          <app-tile [space]="item"></app-tile>
        </div>
      </div>
    </div>
  </div>
</div>